.container {
  width: 98vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
}

.leftSide {
  text-align: center;
  color:black;
  font-weight: 600;
  font-size: 25px;
}

.confirmation {
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 15px;
}

.imageContainer {
  margin: 10px 25px;
  height: 50px;
}

.imageContainer img {
  border-radius: 40px;
  width: 550px;

}

.description {
  width: 600px;
  color: black;
  text-align: justify;
  font-size: 14px;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.btns h2 {
  color: black;
}

.btns button {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  padding: 5px 15px;
  cursor: pointer;
}

.ratings {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.ratings p {
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.middle{
  color: black;
}

.addCart{
  background-color: black;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  border-radius: 20%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.addCart:hover{
    background-color:rgb(117, 114, 114);
    color: white
}
