.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: auto;
}

.up {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.leftSide {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 25px;
}

.confirmation {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.imageContainer {
  margin: 10px 25px;
  height: 50px;
}

.imageContainer img {
  border-radius: 40px;
  width: 550px;
  height: 350px;
  object-fit: cover;
}

.description {
  width: 600px;
  color: white;
  text-align: justify;
  font-size: 14px;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.btns h2 {
  color: white;
}

.btns button {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  padding: 5px 15px;
  cursor: pointer;
}

.ratings {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.ratings p {
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 5px;
}

.middle {
  color: white;
}

.addCart {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 22px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  border-radius: 20%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.addCart:hover {
  background-color: rgb(117, 114, 114);
  color: white
}