.texto {
    color: white
}

.cointainer {
   min-width: 350px;
   min-height: 380px;
   margin: 15px auto;
   border-radius: 15px;
   background: url("../image/fondocreateuser1.JPG");
   background-size: cover;
   color:white;
   padding: 20px 15px;
   width: 50vh;
   height: 40vh;
  


}

.textoUser{
 
 font-family:Arial, Helvetica, sans-serif;
 margin-top: 0;
 width: 50vh;
 justify-content: center;
 align-items: center;
 

}

.ImgLoad{
  font-family:Arial, Helvetica, sans-serif;
  background-color: white;
  margin-right: 8px;
 
}

.textoNombre{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    margin-right: 8px;
    color: black;

}
.textoEmail{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    margin-right: 4px;
    color: black;
}

.textoPassword{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    margin-right: 4px;
    color: black;

}

.register{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    margin-right: 4px;
    color: black;

}
