.addReview {
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 1000px;
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin: 20px;
}

.title {
    font-weight: bolder;
    font-size: larger;
    margin: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.rtng {
    margin: 5px;
}

.addReview textarea { 
    min-width: 990px;
}

.btt {
    border: none;
    font-size: large;
    margin-top: 8px;
    padding: 10px;
    color:white;
    background-color: black;
    cursor: pointer;
}

.btt:hover {
    background-color: brown;
}