.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70vh;
}

.img {
  width: 220px;
  height: 200px;
  object-fit: cover;
  border-radius: 15%;
  margin: 5px;
  /* overflow:hidden; */
}
/* .img:hover {-webkit-transform:scale(1.3);transform:scale(1.3);} */

.gamebody {
  background-color: rgb(89, 90, 89);
  /* background-image: url(../image/Fondonavbar.JPG); */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 0%;
  height: 230px;
  width: 700px;
  margin: 15px;
  color: white;
  background-color: black;

  /* overflow:hidden; */
}

.gamebody:hover {
  background-color: black;
  color: white;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  height: 200px;
  width: 600px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 6px 6px 10px rgb(99, 97, 97);
  margin-top: 30px;
  border: 2px solid #aa0520;
  padding: 20px;
}
.navlink {
  color: white;
  /* background-color: white; */
  display: flex;
  /* flex-direction: row;
    justify-content:space-around;
    align-items: center; */
  font-weight: bold;
}
.select {
  background: linear-gradient(
    to right,
    rgb(220, 54, 54) 0%,
    rgb(216, 28, 69) 51%,
    rgb(220, 54, 104) 100%
  );

  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  border-radius: 20%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-right: 10px;
}
.selectOption {
  background-color: black;
  color: white;
}

.select option {
  color: black;
}