
.pic {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.userbody {
    background-color: rgb(89, 90, 89);
    background-image: url(../image/Fondonavbar.JPG);
    display: flex;
    flex-direction:row-reverse;
    justify-content:center;
    align-items: center;
    border-radius: 5%;
    height: 330px;
    width: 600px;
    margin:90px;
    color: white;
    border-bottom: 10px;
    font-family: Montserrat;
    font-size: 25px;
}
