.texto {
    color: aliceblue;
    margin: auto;
}

.landingCointainer {
    /* background-image: url("https://i.ibb.co/LJs4Ydx/fonfolanding.jpg"); */
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(46, 44, 44);
    margin-right: 50vh;
    padding: 30px 55px;
    border-radius: 5rem;
    
}
.landingContainer button {
    padding: 30px 55px;
    border-radius: 10rem;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    align-items: center;
    background-color: black;
    width: auto;
    margin-right: 50vh;
    margin-top: 400px;
  }

  

.button {
    margin: auto;
    background-color: #d30606;
    border: none;
    color: rgb(3, 3, 3);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    border-radius: 10%;
    padding: 30px 55px;
    }

    .center{
    align-items: center;
    border-radius: 50rem;
    margin-left: 50rem;
    height: max-content;
    align-items: flex-end;
   float: inline-end;
   position: relative;
   
    }
    .center:hover    {
    transform: scale(1.025, 1.025);
    filter: drop-shadow(0 0 12px white);

    }


  