.bpage{
    
        /* background-color: #b41d1d;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        margin: 3px 1px;
        cursor: pointer;
        position: relative;
        border-radius: 10%;
        cursor: pointer;
        */
        text-decoration: none;
        display: inline-block;
        justify-content: center;
        gap: 10px;
        list-style-type: none;
        cursor: pointer;
        font-size: 1.2rem;
        background-color: #b41d1d;;
        color: white;
         padding: 11px 22px;
        border-radius: 10px;
        position: relative;
        align-items: center;
        cursor: pointer;
        margin-right:4px;
        
        
}

.selected{
    
        background-color: #424242;
        border: none;
        color: white;
        padding: 11px 22px;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        position: relative;
        border-radius: 10%;
        margin-right:4px;

       
}