.pages {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px;
        text-decoration: none;
}

.bpage{
    
        /* background-color: #b41d1d;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        margin: 3px 1px;
        cursor: pointer;
        position: relative;
        border-radius: 10%;
        cursor: pointer;
        */
        display: flex;
        justify-content: center;
        list-style-type: none;
        cursor: pointer;
        background-color: #757575;
        color: white;
        padding: 11px 20px;
        border-radius: 8px;
        border: none;
        height: 40px;
        width: 40px;
        margin: 2px;
        font-weight: bold;
}

.selected{
        text-decoration: none;
        display: flex;
        justify-content: center;
        list-style-type: none;
        cursor: pointer;
        background-color:#424242;
        color: white;
        padding: 11px 20px;
        border-radius: 8px;
        border: none;
        height: 40px;
        width: 40px;
        margin: 2px;
        font-weight: bold;
}

.prev-next {
        text-decoration: none;
        display: flex;
        justify-content: center;
        list-style-type: none;
        cursor: pointer;
        background-color:#b41d1d;
        color: white;
        padding: 11px 22px;
        border-radius: 8px;
        border: none;
        height: 40px;
        width: 50px;
        margin: 2px;
        font-weight: bold;
}