.payment{
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid white;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pay {
    display: flex;
    justify-content: center;
    width: 600px;
    font-size: large;
    font-weight: lighter;
    padding: 5px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pay:hover {
    background-color: brown;
}

.ask {
    color:white;
    font-weight:  lighter;
    display: flex;
    justify-self: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.alert {
    display: flex;
    color: white;
    font-weight: lighter;
    font-size:xx-large;
    justify-content: center;
}