
.userbody{
background-color: white;
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.containerLogin{
width: 30%;
background-color: #d9d9d9;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 30px;
border-radius: 19px;
}

.imputlogin{
    width: 100%;
    height: 20px;
    background-color: #d9d9d9;
    border-radius: 56px;
    padding: 12px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #5d9ea6;
}
.buttonlogin{
    background-color: #011826;
    border: 1px solid #011826;
    width: 187px;
    height: 48px;
    color: white;
    font-size: 14px;
    border-radius: 31px;
    cursor: pointer;
}
.buttonlogin:hover{
  background-color:  #5d9ea6;
  color: black;

}
@media screen and (min-width: 1024px) {

.buttonlogout {
    background-color: #828385;
    border: 1px solid #f1f4f6;
    width: 187px;
    height: 48px;
    color: black;
    font-size: 14px;
    border-radius: 31px;
    position: absolute;
    top: 20px;
    right: 28px;
    cursor: pointer;
  }
}

.buttonlogout:hover{
background-color:  black;
color:white;
}

.buttonsigout{
  background-color: #828385;
    border: 1px solid #011826;
    width: 187px;
    height: 48px;
    color: black;
    font-size: 14px;
    border-radius: 31px;
    cursor: pointer;

}

.buttonsigout:hover{
background-color:  black;
color: white;
}
