
.userbody{
  background-color:rgb(18, 19, 19) ;
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}
.containerLogin{
width: 30%;
background-color: black;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 30px;
border-radius: 19px;
box-shadow: 6px 6px 10px rgb(99, 97, 97);
margin-bottom: 10px;
border: 2px solid #aa0520;
padding: 20px;
}

.imputlogin{
    width: 100%;
    height: 20px;
    background-color: #d9d9d9;
    border-radius: 56px;
    padding: 12px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #5d9ea6;
}
.buttonlogin{
    background-color: white;
    border: 1px solid #011826;
    width: 187px;
    height: 48px;
    color: black;
    font-size: 14px;
    border-radius: 31px;
    cursor: pointer;
}
.buttonlogin:hover{
  background: linear-gradient(to right, rgb(220, 54, 54) 0%, rgb(229, 91, 121) 51%, rgb(220, 54, 104) 100%);

  color: black;

}
@media screen and (min-width: 1024px) {

.buttonlogout {
    background-color: #828385;
    border: 1px solid #f1f4f6;
    width: 187px;
    height: 48px;
    color: black;
    font-size: 14px;
    border-radius: 31px;
    position: absolute;
    top: 20px;
    right: 28px;
    cursor: pointer;
  }
}

.buttonlogout:hover{
background-color:  black;
color:white;
}

.buttonsigout{
  background-color: #828385;
    border: 1px solid #011826;
    width: 187px;
    height: 48px;
    color: black;
    font-size: 14px;
    border-radius: 31px;
    cursor: pointer;

}

.buttonsigout:hover{
background-color:  black;
color: white;
}

.Login{
  color: white;
  padding: 20px;
  margin-top: 3px ;
}
