nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #131313;
  }
  ul{
    list-style-type: none;
  }
  
  li {
    float: left;
  }
  
.navlink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: w;
  }
  
  .active {
    background-color: #cc0707;
  }

  .NavBarComplete{
    background: url("../image/fondonavbar3.JPG");
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font: bold 16px sans-serif;
    padding: 3px 5px;
  }

  .letra{
    justify-content: space-between;
    color: white;
    text-decoration: none;
    width: 100px;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    border: none;
    font-size: 1.2rem;
    margin-bottom: 8px;
    top: 60vh;
    margin-right:6px;
    display: flexbox;
    text-overflow: ellipsis;
  }

  .liFormat {
    margin-left: 15px;
  }

  .letra:hover {
    color:red;
  }

  .NavBarComplete .logo {
    border-radius: 5rem;
    margin-left: 3rem;
  }
  .logo:hover {
    transform: scale(1.025, 1.025);
    filter: drop-shadow(0 0 12px white);
  }

  .left {
    display: flex;
    width: 35%;
    justify-content: space-between;
    gap: 10px;
  }
  .center {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    width: 40%;
    
  }
  
  .NavUl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 50%;
  }
  * {
    text-decoration: none;
  }